html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: #5e6d82;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.table{
  margin: 20px 0;
}
.h1{
  margin: 20px 0;
  font-size: 20px;
}
.h2{
  margin: 20px 0;
  font-size: 18px;
}
.h3{
  margin: 20px 0;
  font-size: 16px;
}
.text-regular{
  font-size: 14px;
}
.text-small{
  font-size: 13px;
}
.text-smaller{
  font-size: 12px;
}
#__nuxt{
  height: 100%!important;
}